                          //Variables

//couleur
$violet : #7303c0;
$violet1: #b882ee;
$lightviolet: #D8BFD8;
$violet2: #7B68EE;
$white: #fff;
$black: #000000;
$grey: #A9A9A9;
$blue: #4169E1;
$gradientviolet: -webkit-linear-gradient(top, #c47868 0%,#ab6aae 50%,#905cfc 88%);

//fonts variables
$roboto: 'Roboto', sans-serif;
$pattaya: 'Pattaya', sans-serif;
$love: 'Love Ya Like A Sister', cursive;

//mixins
@mixin classFlex{
  display: flex;
	justify-content: center;
	align-items: center;
}

@mixin center{
  padding: 0;
  margin: 0;
}

@mixin boutonblue{
  font-weight: bold;
  border-radius: 50px;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  border: none;
  outline-style:none; 
  text-transform: uppercase;
  padding: 10px 10px;
}

           //Fin variables

*{
  @include center;
  box-sizing: border-box;/* tous les éléments redimensionnés de la même manière*/
  }

body{
  font-family: $roboto;
}  

//En-tête de la page
header{
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-bottom: 60px;
}

h1{
  font-family: $love;
  color: #261624;
  font-size: 3em;
  text-shadow: 2px 2px 2px grey;
 
}

.logo{
  display: flex;
  flex-direction: row;
  text-decoration: none;
   
  i{
    background: $gradientviolet;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//menu
nav{
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  align-items: center;
  width: 100%;
  
       li{
        display: inline-block;
        padding: 5px 10px;
        margin: 0px 20px;
        border: 1px solid $white;
        border-radius: 20px;
        background-color: $violet;
        font-size: 1.2em;
        text-align: center;

        &:hover{
        background-color: $white;  
        }

        a{
          text-decoration: none;
          transition-duration: 1s;
          color: $white;
        
        &:hover{
         color: $violet;
         cursor: pointer;
        }

        span{
          padding-left: 5px;

        }
     }
  }
}

//liste des peluches page index


h2{
  font-size: 2.5em;
  font-family: $pattaya;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 2px grey;
}

h3 , h4 {
  font-family: $pattaya;
}

//La partie articles Page Index

#articles{
  flex-direction: column;
  @include classFlex;

      img{
       width: 90%;  
  }
}

.elements{
  width: 70%;
  flex-direction: column;
  @include classFlex;
  box-shadow: 0 0 30px gray;
  background-color: $lightviolet;
  margin-bottom: 50px;

  a{
    color: $white;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: $violet;
    text-decoration: none;
    font-size: 1em;
  }
}

//Partie Page Produit


#produits{
  @include classFlex;
  //flex-direction: column;

  img{
    width: 70%;
  }
}

.elementproduit{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 30px gray;
  background-color: $lightviolet;
  margin-bottom: 50px;

  h4{
    font-family: $roboto;
    width: 70%;
  }

  p{
    font-family: $pattaya;
    font-size: 1.2em;
  }
}

#conteneurCouleur{
  @include classFlex;
  flex-direction: column;
  background-color: $violet1;
  box-shadow: 0 0 30px gray;
  width: 70%;
  padding: 20px 0 20px 0;
  margin: auto;
  margin-bottom: 80px;
  margin-top: -49px;

  #label_couleur{
    color: $white;
    font-family: $pattaya;
    font-size: 1.3em;
  }
}

#couleur_select{
  font-size: 1em;
}

#bouton_produit{
  @include boutonblue;
  margin-top: 10px;
}

//Partie Page Panier

.elementpanier{
  display: flex;
	justify-content: center;
  
  
}







//En Bas de ma page

footer{
  background-color: $violet1;
  padding: 20px 40px;
  font-size: 1em;

  #contact{
    display: flex;
    justify-content: space-between;

    i{
      color: $blue;
    } 

    a{
      text-decoration: none;
      color: $black;
  }
 }
}

#footer{
  display: block;

  p{
    text-align: center;
    font-size: 1em;
    padding-top: 20px;
  }
}

//Responsive nav page index

@media (max-width: 800px){
  h1{
    font-size: 2.5em;
  }

  nav{

   ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.8em;
    margin-top: 30px;
    width: 100%;
  }
}

  h5{
    font-size: 1em;
  }
}

@media (max-width: 375px){

  h2{
    font-size: 2em;
  }

  footer{
    font-size: 1em;

    #contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
     
      a{
        width: 100px;
        padding: 5px 0px;
      }
   }
}





