@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* tous les éléments redimensionnés de la même manière*/ }

body {
  font-family: "Roboto", sans-serif; }

header {
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-bottom: 60px; }

h1 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #261624;
  font-size: 3em;
  text-shadow: 2px 2px 2px grey; }

.logo {
  display: flex;
  flex-direction: row;
  text-decoration: none; }
  .logo i {
    background: -webkit-linear-gradient(top, #c47868 0%, #ab6aae 50%, #905cfc 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

nav {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  align-items: center;
  width: 100%; }
  nav li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #7303c0;
    font-size: 1.2em;
    text-align: center; }
    nav li:hover {
      background-color: #fff; }
    nav li a {
      text-decoration: none;
      transition-duration: 1s;
      color: #fff; }
      nav li a:hover {
        color: #7303c0;
        cursor: pointer; }
      nav li a span {
        padding-left: 5px; }

.conteneur-titre {
  display: flex;
  align-items: center;
  justify-content: center; }
  .conteneur-titre h2 {
    font-size: 2em;
    font-family: "Pattaya", sans-serif;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px grey;
    background: #EBDEF0;
    padding: 30px 30px;
    width: 500px;
    border: 10px solid rgba(255, 255, 255, 0.5); }

h3, h4 {
  font-family: "Pattaya", sans-serif; }

#articles {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; }
  #articles img {
    width: 90%; }

.elements {
  width: 70%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px gray;
  background-color: #D8BFD8;
  margin-bottom: 50px; }
  .elements a {
    color: #fff;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #7303c0;
    text-decoration: none;
    font-size: 1em; }

#produits {
  display: flex;
  justify-content: center;
  align-items: center; }
  #produits img {
    width: 70%; }

.elementproduit {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 30px gray;
  background-color: #D8BFD8;
  margin-bottom: 50px; }
  .elementproduit h4 {
    font-family: "Roboto", sans-serif;
    width: 70%; }
  .elementproduit p {
    font-family: "Pattaya", sans-serif;
    font-size: 1.2em; }

#conteneurCouleur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b882ee;
  box-shadow: 0 0 30px gray;
  width: 70%;
  padding: 20px 0 20px 0;
  margin: auto;
  margin-bottom: 80px;
  margin-top: -49px; }
  #conteneurCouleur #label_couleur {
    color: #fff;
    font-family: "Pattaya", sans-serif;
    font-size: 1.3em; }

#couleur_select {
  font-size: 1em; }

#bouton_produit {
  font-weight: bold;
  border-radius: 50px;
  background-color: #4169E1;
  color: #fff;
  cursor: pointer;
  border: none;
  outline-style: none;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-top: 10px; }

#panier {
  padding: 20px 40px;
  margin: 40px auto 80px;
  width: 500px;
  position: relative;
  background-color: #D8BFD8;
  border-radius: 20px; }

.elementpanier1 {
  display: flex;
  justify-content: space-between;
  border: 5px solid rgba(255, 255, 255, 0.5); }
  .elementpanier1 p {
    font-family: "Pattaya", sans-serif;
    font-size: 1.2em;
    padding-left: 10px; }
  .elementpanier1 h4 {
    width: 150px; }
  .elementpanier1 .prix_panier {
    width: 100px; }

.nombretotal {
  text-align: center;
  font-family: "Pattaya", sans-serif;
  font-size: 1.3em;
  border: 10px solid rgba(255, 255, 255, 0.5); }

.prixtotal {
  text-align: center;
  margin: 20px 0 10px 0;
  font-family: "Pattaya", sans-serif;
  font-size: 1.3em;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 90px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px; }

footer {
  background-color: #b882ee;
  padding: 20px 40px;
  font-size: 1em; }
  footer #contact {
    display: flex;
    justify-content: space-between; }
    footer #contact i {
      color: #4169E1; }
    footer #contact a {
      text-decoration: none;
      color: #000000; }

#footer {
  display: block; }
  #footer p {
    text-align: center;
    font-size: 1em;
    padding-top: 20px; }

@media (max-width: 800px) {
  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 1.5em; }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.8em;
    margin-top: 30px;
    width: 100%; }

  h5 {
    font-size: 1em; } }
@media (max-width: 375px) {
  h2 {
    font-size: 1.5em; }

  footer {
    font-size: 1em; }
    footer #contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    footer a {
      width: 100px;
      padding: 5px 0px; } }

/*# sourceMappingURL=style.css.map */
